* {
  text-decoration: none;
}

body {
  font-family: arial, sans-serif;
  background-color: #e0e0e0; /*fdfff7;*/

  /* CSS for background. Below is CSS if you want
   to put an image for the background as well */

  /* background-image: url(../images/wall.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* height of webpage */
.content {
  height: 1000px;
}

/* container for rows of images/videos */
.wrapper {
  /* allows access for webkits in different browsers */
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  /* set height differences between rows */
  height: 75vh;
  width: 100%;
  top: 0px;
  left: 0px;
  /* sets spaces between elements in rows */
  padding-bottom: 10px;
  padding-right: auto;
  padding-left: auto;
  margin: auto;
}

/* container for images/videos */
.box {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  height: auto;
  width: 20%;
  /* sets padding to create instax/photo effect */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  color: #fff;
  background: #fffefa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  /* set for any texts in the future */
  line-height: 30%;
  text-align: center;
  font-size: 25px;
  will-change: transform;
  float: left;
  margin: auto;
}

/* set max width for photos */
.box img {
  width: 100%;
}
.box:hover {
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.4);
}
.banner {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px dashed rgba(0, 0, 0, 0.3);
}
