nav {
  display: flex;
}
ul.nav-bar a {
  color: #000;
  font-size: 18px;
  padding: 15px 20px;
}
ul.nav-bar li {
  display: inline;
  position: relative;
}
ul.nav-bar li:hover,
ul.nav-bar li:focus {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  border-bottom: 6px solid rgb(49, 49, 49);
  padding-bottom: 6px;
}
nav a.on-page {
  border-bottom: 6px solid rgb(49, 49, 49);
  padding-bottom: 5px;
}
