.App {
  text-align: center;
  margin-top: 20px;
}

.App img {
  max-height:100%; 
  max-width:100%;
  border-radius: 10px;
}

.App footer {
  position:fixed;
  bottom:5px;
  right:5px;
}

body.light-mode {
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1919;
  color: #999;
}