body {
  font-family: arial, sans-serif;
}
h1,
p {
  padding: 1%;
}
main li {
  padding-bottom: 0.2cm;
  padding-right: 4%;
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: #00328f;
}
.project-link:hover a,
.project-link:focus a,
.contactdet:hover a,
.contactdet:focus a {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: rgb(211, 211, 211);
}
