* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}
html {
  display: table;
  margin: auto;
}
body {
  max-width: 1100px;
  font-family: arial, sans-serif;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
}
a:link,
a:visited {
  color: #00328f;
}
.nav-bar {
  margin-top: 0.5cm;
}
.banner {
  padding: 0.5cm;
  padding-top: 1cm;
}
.project-link {
  padding-bottom: 1cm;
  padding-right: 4%;
}
.project-description {
  padding-top: 0.3cm;
}
.footnote {
  padding-top: 0.3cm;
}
.contactdet {
  margin-top: 1cm;
}
.project-link:hover a,
.project-link:focus a,
.contactdet:hover a,
.contactdet:focus a {
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: rgb(211, 211, 211);
}
.project-struct,
.about-desc,
.contactdet {
  padding-left: 25%;
  padding-right: 25%;
}

@media only screen and (max-width: 767px) {
  .project-struct,
  .about-desc,
  .contactdet {
    padding-left: 10%;
    padding-right: 10%;
  }
}
